*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    max-width: 800px;
    font-size: 1.8em;
    margin: 0 auto;
    margin-bottom: 1.3em;
}
ul li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid blue;
}
.done{
    text-decoration: line-through;
}
.button-container button{
    background-color: rgb(144, 221, 240);
    border: none;
    padding: 2em;
}

.input-container{
    font-size: 1.4em;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around
}
.input-container button{
    background-color: rgb(144, 221, 240);
    border: none;
    text-transform: uppercase;
    color: white;
    padding: 2em;
    border-radius: 1rem;
}

button:hover{
    background-color: rgb(80, 164, 185);

}
header,
footer{
    font-size: 2em;
    padding: 2rem;
    text-align: center;
    color: white;
    background-color: rgb(7, 57, 60);
}

.header-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

main{
    padding: 5rem;
    height: 100vh;
    background-color: rgb(144, 221, 240);
}